.custom-form {
    flex-direction: column;
    align-items: center;
    width: 450px;
    margin: 50px;
    border: 1px solid #ccc;
    height: 700px;
    border-radius: 16px;
    background-color: aliceblue;
}

.logo {
    width: 200px;
    white-space: normal;
}

.quote-text {
    margin-top: 15%;
    display: flex;
    color: white;
    width: 600px;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.quote-text p {
    font-family: "Pin Sans", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 70px;
    text-align: center;
    font-weight: 700;
}

.Carousel {
    width: 100%;
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: contain;
    display: block;
    align-items: center;
    justify-content: center;
}

.intro-text {
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
}

.form-signin {
    background-color: #222;
    min-width: 400px;
    min-height: 200px;
}

.create-acc {
    margin: 10%;
}

//Signin Popup
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.popup {
    background: white;
    width: 400px;
    border-radius: 8px;
    padding: 20px;
    animation: fadeIn 0.25s ease-in-out;
}

.popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close-btn {
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
}

.btn-submit {
    width: 100%;
    padding: 10px;
    background: blue;
    color: white;
    border: none;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 4px;
}

.form-control {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

.popup-footer {
    margin-top: 15px;
    text-align: center;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}